name: CD

on:
  push:
    branches:
      - main
      - "releases/**"
  pull_request:
  workflow_dispatch:

jobs:
  publish_docker_image_to_acr:
    name: Publish Docker image to ACR
    permissions:
      id-token: write
      contents: read
    uses: HSLdevcom/jore4-tools/.github/workflows/shared-build-and-publish-docker-image.yml@shared-build-and-publish-docker-image-v1
    with:
      docker_image_name: jore4-mbtiles-server
      build_arm64_image: true
    secrets:
      azure_client_id: ${{ secrets.AZURE_CLIENT_ID }}
      azure_tenant_id: ${{ secrets.AZURE_TENANT_ID }}
      azure_subscription_id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

  run_e2e_tests:
    name: Run E2E tests
    needs:
      - publish_docker_image_to_acr
    uses: HSLdevcom/jore4-tools/.github/workflows/shared-run-e2e.yml@main
    with:
      mbtiles_version: "${{ needs.publish_docker_image_to_acr.outputs.docker_image }}"
